*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header-section */
header{
    background:url(images/banner/banner1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.banner{
    margin: 0 200px;
    text-align: right;
    
}
.banner .banner-item{
    padding-top: 216px;
    
}
.banner-intro{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}
.banner-info{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.primary-btn{
   width: 160px;
   height: 64px;
   font-weight: 700px;
   font-size: 20px;
   color: #ffffff;
   background: #F15B22;
   border-radius: 5px;
}
.banner .primary-btn{
    margin-top: 32px;
}
/* Middle Part-1 */
.mid-cont{
    display: flex;
    gap: 87px;
}
.mid-item-1{
    margin-top: 131px;
    margin-left: 206px;
}
.mid-item-2{
    margin-top: 370px;
    margin-right: 295px;
}
.item-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.item-discription{
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.check-icon{
    width: 24px;
    height: 24px;
}
/* Mid part-2 */
.mid-cont-2{
    text-align: center;
}
.plan-head{
    font-weight: 700;
    font-size: 40px;
    margin-top: 130px;
}
.plans{
    display: flex;
    text-align: center;
    justify-content:center;
    gap: 86px;
    margin-top: 50px;
    
}

.plan-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 24px;
    
}
.plan-discription{
    color: #737272;
    font-size: 25px;
    padding-top: 16px;
}
/* Footer Section */

.footer-item{
    display: flex;
    gap: 331px;
    background: #151414;
    height: 577px;
    margin-top: 131px;
}
.footer-left-part{
    margin-left: 230px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-top: 130px;
}
.footer-discription{
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 16px;

}
.footer-contact{
    margin-top: 24px;
    font-size: 16px;
    color: #FFFFFF;
}
.logo{
    margin-top: 32px;

}
.footer-right-part{
    margin-right: 431px;

}
.sub{
    margin-top: 131px;
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}
.footer-right-part input{
    margin-top: 31px;
    width: 325px;
    height: 64px;
    border-radius: 8px;
    background-color: #151414;
    color: #FFFFFF;
    border: 1px solid white;
    padding-left: 21px;
}
.footer-right-part .primary-btn{
    background-color: #F8F8F8;
    color: #F15B22;
    margin-top: 16px;
}